@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* При заходе на сайт автоматом скачается шрифт */
body, input, button, textarea, select {
    font-family: 'Nunito', sans-serif; /* ВЕЗДЕ будет Nunito */
    color: #22223b; /*темно-синий цвет текста везде*/
}
body
{
    padding: 0;/*отступы от границ*/
    overflow-x: hidden;/* no prokrutka po OX */
    background-color: #f2e9e4;
    margin: 0; /*отступ всего относительно границ страницы*/
    height: 100vh;/* тип body занимает 100% экрана*/
    gap: 20px;
}
.header
{
    width: 100%;
    height: 150px;
    background-color: #4a4e69;
    margin: 0;
}