@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* При заходе на сайт автоматом скачается шрифт */
body, input, button, textarea, select {
    font-family: 'Nunito', sans-serif; /* ВЕЗДЕ будет Nunito */
    color: #22223b; /*темно-синий цвет текста везде*/
}
body
{
    margin: 0; /*отступ всего относительно границ страницы*/
    height: 100vh;/* тип body занимает 100% экрана*/
    display: flex;/*флекс +вайб*/
    justify-content: flex-start;/* где будет стоять по OX*/
    align-items: center;/*где будут стоять элементы по OY */
    padding-top: 150px;/* расстояние от верха*/
    box-sizing: border-box;/*чтобы padding не создавал скролл*/
    flex-direction: column;/* все элементы в body будут стоять колонной*/
}
.header
{
    margin: 0;
    padding-top: 0;
    border-radius: 15px;/* Скругление */
    background-color:#4a4e69;/* Цвет фона */
    padding: 20px;/* Отступы внутри */
    border: 1px solid #9a8c98;   /* Тонкая рамка */
    width: 100%;/* Ширина блока */
    height: 200px;/*Высота блока */
    box-sizing: border-box;/*чтобы padding не создавал скролл*/
    gap: 100px; /*расстояние между элементами внутри бокса */
    flex-direction: row ; /* как буду располагаться элементы */
    display: flex;/*флекс +вайб и все этом духе*/
}
.button_
{
    height: 70px;
    width: 200px;
    align-self: center;
}